body {
    background-image: url("image/background.png");
    margin: 0;
    font-family: 'Literata', serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.portrait_container {
    margin: 0 20px;
}

.content {
    padding-left: 50px;
}

.block {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px ;
    box-shadow: 5px 5px 10px grey;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 40px;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-bottom: 1px solid black;
    font-style: italic;
}

.headText {
    font-family: 'Lobster', cursive;
    width: 270px;
}

.title {
    margin-left: 20px;
}

.about {
    width: 750px;
}

about_container{
    display: flex;
}

.work {
 width: 450px;
}

.hobby {
    width: 500px;
}

.history {
    width: 550px;
}
.footer {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid black;
}
